/* Navbar */
.custom-navbar .nav li a {
    color: #184849;   /* was #999 */
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
}
.custom-navbar .nav li a:hover {
    background: transparent;
    color: #184849;
}
.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #184849;
}

/* Filter buttons */
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    color: #184849;   /* was #999 */
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}

/* Contact form */
#contact .form-control {
    border: 1px solid #184849;  /* was #CCC */
}
